{% extends "AppQatar/inicio.html" %}

{% block subt %}
<h1 class="text btn-dark btn-lg">Acerca de mí</h1>

<p class="text btn-light btn-lg">Me llamo Martín Burastero.
    <div>
        <div>
        <p class="text btn-light btn-lg">Soy de Argentina y tengo 22 años.
        <p class="text btn-light btn-lg">Mi profesión es relacionada a la contabilidad y la administración de empresas pero me interesa la programación por curiosidad
                y por la posibilidad de contar con herramientas para desarrollar soluciones digitales.</p>
        </div>            
    </div>


{% endblock %}

{% block contenidoQueCambia %}
    

{% endblock %}